<div class= 'gem_container'>
	<% gemlist.each do |gem_name| %>
	<% if gem_name['info'] == 'Gem not found at rubygems.org' %>
		<% class_name = 'gem_info not_found' %>
	<% else %>
		<% class_name = 'gem_info' %>
	<% end %>
	<% p class_name %>
	<div class=<%= class_name %> >
		<div class='gem_name'> <strong>Name:</strong> <%= gem_name['name'].capitalize %>
		</div>
		<div class='summary'>
			<strong>Summary:</strong> <%= gem_name['info'] %>
		</div>
	</div>
	<% end %>
	<% if commented_gems.empty? %>
		<% commented_gems_title = '' %>
	<% else %>
		<% commented_gems_title = 'Commented Gems' %>
	<% end %>
	<h3 class='commented_title'><%= commented_gems_title %></h3>
	<% commented_gems.each do |gem_name| %>
	<div class='gem_info commented_gem'>
		<div class='commented_gem_name'> 
			<strong>Name:</strong> <%= gem_name['name'].capitalize %>
		</div>
		<div class='summary'>
			<strong>Summary:</strong> <%= gem_name['info'] %>
		</div>
	</div>
	<% end %>
</div>